@font-face {
  font-family: copper;
  src: url(../font/Copperplate.ttc) format("opentype"); }

* {
  padding: 0;
  margin: 0; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

body {
  font-family: "hiragino", serif;
  font-size: 14px;
  background-color: #e4dac7;
  color: #192f53;
  height: 100vh;
  box-sizing: border-box; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 12px; } }

.handBell__pcView {
  text-align: center;
  padding-top: 12em; }
  .handBell__pcView img {
    width: 100px;
    margin-top: 20px; }
  @media screen and (max-width: 750px) {
    .handBell__pcView {
      display: none; } }

.handBell__sectionContent {
  display: none; }
  @media screen and (max-width: 750px) {
    .handBell__sectionContent {
      display: block; }
      .handBell__sectionContent .handBell__sectionColor {
        background-color: red;
        width: 100%;
        height: 80vh; } }

footer {
  width: 100%;
  bottom: 8px;
  margin-bottom: 12px;
  position: absolute; }
  footer p {
    text-align: center; }
