@font-face {
  font-family: copper;
  src: url(../font/Copperplate.ttc) format("opentype"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "hiragino", serif;
  font-size: 14px;
  background-color: #e4dac7;
  color: #192f53;
  height: 100vh;
  box-sizing: border-box; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 12px; } }

.handBell__pcView {
  text-align: center;
  padding-top: 12em; }
  .handBell__pcView img {
    width: 100px;
    margin-top: 20px; }
  @media screen and (max-width: 750px) {
    .handBell__pcView {
      display: none; } }

.handBell__sectionContent {
  display: none; }
  @media screen and (max-width: 750px) {
    .handBell__sectionContent {
      display: block; }
      .handBell__sectionContent #handBell__sound {
        width: 100%;
        height: 80vh; }
      .handBell__sectionContent .handBell__sectionRed {
        background-color: red; }
      .handBell__sectionContent .handBell__sectionBlue {
        background-color: blue; } }

footer {
  width: 100%;
  bottom: 8px;
  margin-bottom: 12px;
  position: absolute; }
  footer p {
    text-align: center; }
