//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "hiragino", serif;
	font-size: 14px;
	background-color: #e4dac7;
	color: #192f53;
	height: 100vh;
	box-sizing: border-box;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
}

.handBell__pcView {
	text-align: center;
	padding-top: 12em;
	img {
		width: 100px;
		margin-top: 20px;
	}
	@include max-screen($breakpoint-mobile) {
		display: none;
	}
}

.handBell__sectionContent {
	display: none;
	@include max-screen($breakpoint-mobile) {
		display: block;
		.handBell__sectionColor {
			background-color: red;
			width: 100%;
			height: 80vh;
		}
	}
}

footer {
	width: 100%;
	bottom: 8px;
	margin-bottom: 12px;
	position: absolute;
	p {
		text-align: center;
	}
}






