//ファイルのインポート
@import "lib/base";
@import "lib/reset";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "hiragino", serif;
	font-size: 14px;
	background-color: #e4dac7;
	color: #192f53;
	height: 100vh;
	box-sizing: border-box;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
}

.handBell__pcView {
	text-align: center;
	padding-top: 12em;
	img {
		width: 100px;
		margin-top: 20px;
	}
	@include max-screen($breakpoint-mobile) {
		display: none;
	}
}

.handBell__sectionContent {
	display: none;
	@include max-screen($breakpoint-mobile) {
		display: block;
		text-align: center;
		.handBell__section__selectColor {
			padding-top: 4em;
			p {
				margin-bottom: 16px;
			}
			.handBell__colors {
				width: 310px;
				margin: 0 auto;
				overflow: hidden;
				overflow: hidden;
				li {
					float: left;
					width: 90px;
					height: 90px;
					background-color: #000;
					margin-right: 10px;
					margin-bottom: 10px;
					&:nth-child(3n) {
						margin-right: 0px;
					}
					a {
						text-decoration: none;
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		#handBell__sound {
			width: 100%;
			height: 100vh;
			.choice_first {
				color: $white;
				font-size: 24px;
			}
			#circle {
				width: 20px;
				height: 20px;
				margin: 0 auto;
				border: 3px solid #fff;
				border-radius: 100%;
			}
			.handbell__image {
				width: 200px;
				margin-top: 10em;
			}
		}
		#btn {
			background-color: #333;
			color: #fff;
			text-align: center;
			p {
				padding: 2em;
			}
		}
		.handBell_howTo {
			text-align: center;
			padding-top: 4em;
			h2 {
				font-size: 1.6em;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 8px;
			}
		}
	}
}

footer {
	width: 100%;
	bottom: 8px;
	position: absolute;
	p {
		text-align: center;
	}
	ul {
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 4px;
		width: 300px;
		li {
			text-align: center;
			width: 60px;
			background-color: #fff;
			width: 100%;
			text-align: center;
			box-sizing: border-box;
			margin-bottom: 10px;
			a {
				text-decoration: none;
				text-align: center;
				color: #192f53;
				display: block;
				padding: 20px 10px;
			}
		}
	}
}






