//ファイルのインポート
@import "lib/base";
@import "lib/reset";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "hiragino", serif;
	font-size: 14px;
	background-color: #e4dac7;
	color: #192f53;
	height: 100vh;
	box-sizing: border-box;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
}

.handBell__pcView {
	text-align: center;
	padding-top: 12em;
	img {
		width: 100px;
		margin-top: 20px;
	}
	@include max-screen($breakpoint-mobile) {
		display: none;
	}
}

.handBell__sectionContent {
	display: none;
	@include max-screen($breakpoint-mobile) {
		display: block;
		#handBell__sound {
			width: 100%;
			height: 60vh;
		}
		.handBell__sectionRed {
			background-color: red;
		}
		.handBell__sectionBlue {
			background-color: blue;
		}
		.handBell__sectionYellow {
			background-color: yellow;
		}
		.handBell__sectionBlack {
			background-color: black;
		}
		.handBell__sectionWhite {
			background-color: white;
		}
		.handBell__sectionPurple {
			background-color: purple;
		}
		.handBell__sectionGreen {
			background-color: green;
		}
		.handBell__sectionAzure {
			background-color: azure;
		}
		#btn {
			background-color: #333;
			color: #fff;
			text-align: center;
			p {
				padding: 2em;
			}
		}
		.handBell_howTo {
			text-align: center;
			padding-top: 2em;
			h2 {
				font-size: 1.6em;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 8px;
			}
		}
	}
}

footer {
	width: 100%;
	bottom: 8px;
	position: absolute;
	p {
		text-align: center;
	}
	ul {
		width: 120px;
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 4px;
		li {
			text-align: center;
			float: left;
			width: 60px;
			a {
				text-decoration: none;
				text-align: center;
				color: #192f53;
			}
		}
	}
}






