extends _head
block title
 title= "ハンドベル | 使い方"
block body
 .handBell
   .handBell__pcView
    p こちらのサイトはスマホサイト限定になります。
    p 下記URLから接続するか、バーコードを読み取ってご利用ください。
    p https://lifeistech.com/hand-bell
    img(src="https://lh6.ggpht.com/ufwUy4SGVTqCs8fcp6Ajxfpae0bNImN1Rq2cXUjWI7jlmNMCsXgQE5C3yUEzBu5Gadkz=w300", alt="バーコード")
  .handBell__sectionContent
   .handBell_howTo
    h2 使い方
    p
    | このサイトは、振ると
    br
    | ベルの音色が聞こえるサイトになっています。
    p 
    | 下のボタンでベルを切り替えて、
    br
    | 様々な音色を試してみよう！
 include _footer
 include _script