extends _head
block title
 title= "ハンドベル | トップ"
block body
 .handBell
  .handBell__pcView
   p こちらのサイトはスマホサイト限定になります。
   p 下記URLから接続するか、バーコードを読み取ってご利用ください。
   p https://hand-bell.netlify.com
   img(src="img/qrcode.png", alt="QRコード")
  .handBell__sectionContent
   .handBell__section__selectColor
    p 色を選択してください。
    ul.handBell__colors
     li(style="background:#e63c35")
      a(href="red.html")
     li(style="background:#ff8b22")
      a(href="orange.html")
     li(style="background:#fac700")
      a(href="yellow.html")
     li(style="background:#67b62d")
      a(href="green.html")
     li(style="background:#009bdb")
      a(href="blue.html")
 include _footer