extends _head
block title
 title= "ハンドベル | トップ"
block body
 .handBell
  .handBell__pcView
   p こちらのサイトはスマホサイト限定になります。
   p 下記URLから接続するか、バーコードを読み取ってご利用ください。
   p https://hand-bell.netlify.com
   img(src="img/qrcode.png", alt="QRコード")
  .handBell__sectionContent
   .handBell__section__selectColor
    img#title(src="img/title.png")
    ul.handBell__colors
     li()
      a(href="red.html")
       img(src="img/red.png")
     li
      a(href="orange.html")
       img(src="img/orange.png")
     li
      a(href="yellow.html")
       img(src="img/yellow.png")
     li
      a(href="green.html")
       img(src="img/green.png")
     li
      a(href="blue.html")
       img(src="img/blue.png")
 include _footer