extends _head
block title
 title= "ハンドベル | オレンジ"
 - var first = true;
 - var notop = true;
 - var second_color = "second_orange.html"
 - var footer_color = "#fc8e08"
 block scripts
  script(type='text/javascript').
   var sound = '../se/C3.mp3';
block body
 .handBell
  .handBell__pcView
   p こちらのサイトはスマホサイト限定になります。
   p 下記URLから接続するか、バーコードを読み取ってご利用ください。
   p https://hand-bell.netlify.com
   img(src="img/qrcode.png", alt="QRコード")
  .handBell__sectionContent
   #handBell__sound(style="background:#fc8e08")
    p.choice_first
     img#icon(src="img/icon_circle.png")
     | １回目 橙
 include _footer
 include _script