extends _head
block title
 title= "ハンドベル | 赤"
block body
 .handBell
  .handBell__pcView
   p こちらのサイトはスマホサイト限定になります。
   p 下記URLから接続するか、バーコードを読み取ってご利用ください。
   p https://hand-bell.netlify.com
   img(src="img/qrcode.png", alt="QRコード")
  .handBell__sectionContent
   #handBell__sound.handBell__sectionRed
    p#acc-x
    p#acc-y
    img.handbell__image(src="img/handbell.png" alt="ベル")
 include _footer
 include _script