extends _head
block title
 title= "ハンドベル | 2_オレンジ"
 - var first = false;
 - var notop = true;
 block scripts
  script(type='text/javascript').
   var sound = '../se/bell7.mp3';
block body
 .handBell
  .handBell__pcView
   p こちらのサイトはスマホサイト限定になります。
   p 下記URLから接続するか、バーコードを読み取ってご利用ください。
   p https://hand-bell.netlify.com
   img(src="img/qrcode.png", alt="QRコード")
  .handBell__sectionContent
   #handBell__sound(style="background:#ff8b22")
    p#acc-x
    p#acc-y
    p.choice_first 二回目
    div#circle
 include _footer
 include _script